<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1 style="color: border-left: unset;;">Secret Service Agent Dashboard</h1>
    <h2>
        Hello Agent! 
    </h2>
    <h4 style="color: red;">We can't find one of the most secret document about the "cyber-age hoodlum"</h3>
    <p1>Previous known location is stored in "/register.txt"</p1>
</body>
</html>