<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robots.txt</title>
</head>
<body>
    <p>
        User-agent: * <br/>
        <br/>
        Disallow: <br/>
        /admin <br/>
        /dont-open <br/>
        /search <br/>
        <br/
    </p>
</body>
</html>